.footer {
  padding: 1.5em 0;

  .footer_column {
    float: left;
    width: 20%;
    text-align: center;

    h3 {
      color: $pink;
      text-transform: uppercase;
      font-size: 0.85em;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li a {
        text-decoration: none;
        display: inline-block;
        color: $gray;
        margin-bottom: 0.6em;

        &:hover {
          color: $pink;
        }
      }
    }
  }
}